.questionnaire-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 20px;
  padding: 20px;
}

.progress-container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}

h4 {
  margin-top: 0;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
}

.options-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.option-item.selected {
  border-color: #4caf50;
  background-color: #e0ffe0;
  box-shadow: 0 0 10px #4caf50;
}

.option-item label {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

p{
  margin: 0;
  padding: 5px;
}

button {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
