<div class="dashboard-container">
    @if(userRole === "teacher"){
        <h2>Teacher Dashboard</h2>
  
        <nav class="dashboard-nav">
          <ul>
            <li>
              <a class="nav-link" [routerLink]="['/dashboard/overview']">Overview</a>
            </li>
          </ul>
        </nav>   
    }
    @else if(userRole === "admin") {
        <h2>Admin Dashboard</h2>
    
        <nav class="dashboard-nav">
          <ul>
            <li>
              <a class="nav-link" [routerLink]="['/dashboard/templates']">Template Manager</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/dashboard/active-questionnaire']">Active Questionnaire Manager</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/dashboard/settings']">Settings</a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/dashboard/logs']">Logs</a>
            </li>
          </ul>
        </nav>
    }
    @else {
      <h2>No role found</h2>
    }
  </div>