# Ignore Angular builds
/front-end

# Ignore logs from backend
backend/logs/

node_modules

__pycache__
*.log

# Ignore new changes to the config file
backend-config.yaml

# Ignore the database
program.db