[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
slowapi = "*"
uvicorn = "*"
ldap3 = "*"
python-jose = "*"
pycryptodome = "*"
dacite = "*"
sqlalchemy = "*"
aiosqlite = "*"
python-multipart = "*"

[dev-packages]
types-python-jose = "*"
types-ldap3 = "*"
types-pyyaml = "*"
types-toml = "*"
pyyaml = "*"
toml = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
