.studentList , .questionnaireList {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 35%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.questionnaire-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
}

.questionnaire-item button {
  margin-top: 5px;
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.questionnaire-details {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 45%;
}

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px 0;
  }

  li p {
    margin: 0;
  }

  li p:not(:last-child) {
    margin-bottom: 10px;
  }

  p {
    color: #666;
  }