.studentList {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 30%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}


  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px 0;
  }

  li p {
    margin: 0;
  }

  li p:not(:last-child) {
    margin-bottom: 10px;
  }

  p {
    color: #666;
  }