.studentList , .questionnaireList {
  background-color:	#FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 35%;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

button {
  margin-top: 5px;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(214, 222, 230);
  transition: background-color 0.2s;
}

.questionnaire-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  transition: background-color 0.2s;
}

.questionnaire-item:hover{
  background-color:	#dfdfdf;
  border-color: darkgray;
}

.questionnaire-item button {
  background-color: #af4c4c;
  color: white;
}
.questionnaire-item button:hover{
  background-color: #8f3232;

}

.questionnaire-details {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 45%;
}
input{
  padding: 2px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 70px;
}
h2 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
}

li p {
  margin: 0;
}

li p:not(:last-child) {
  margin-bottom: 10px;
}

p {
  color: #666;
}