@if(studentList.length > 0){
  <div class="studentList">
    <h2>Student List:</h2>
    <ul>
      <li *ngFor="let student of studentList">
        <p>ID: {{student.id}}</p>
        <p>Username: {{student.username}}</p>
        <p>Role: {{student.role}}</p>
        @if(!isStudentInQuestionnaire(student.id)){
          <button (click)="addStudentToQuestionnaire(student.id)">Add to Questionnaire</button>
        }
      </li>
    </ul>
  </div>
}
@else{
  <p>No students found.</p>
}


@if(studentsYetToFinish.length > 0){
  <div class="studentList">
    <h2>Students Yet to Finish Questionnaire:</h2>
    <ul>
      @for(student of studentsYetToFinish; track student.id){
        <li>
          <p>ID: {{student.id}}</p>
          <p>Username: {{student.username}}</p>
          <p>Role: {{student.role}}</p>
        </li>
      }
    </ul>
  </div>
}