<div class="flex flex-col justify-center items-center w-full h-full bg-gray-100 p-4 sm:p-8">
  <div class="flex flex-col max-w-3xl w-full bg-white shadow-md rounded-lg p-6 sm:p-8 flex-grow">
    <!-- Authenticated User -->
    @if (isAuthenticated()) {
      <!-- Dynamic Heading Based on Role -->
      <h2 class="text-xl sm:text-2xl font-semibold text-gray-800 mb-4 text-center sm:text-left">
        Route Hub
      </h2>
      <!-- Navigation for Specific Roles -->
      @if (userRole()) {
        <nav class="mb-6 flex-grow">
          <ul class="space-y-4">
            @for (link of navLinksForUser(); track link) {
              <li>
                <a
                  [routerLink]="link.route"
                  class="block w-full text-gray-700 font-medium bg-blue-50 hover:bg-blue-100 px-4 py-2 rounded-lg text-center sm:text-left"
                  >
                  {{ link.name }}
                </a>
              </li>
            }
          </ul>
        </nav>
      }
      <!-- No Specific Role -->
      @if (!userRole()) {
        <div class="text-center text-gray-600 flex-grow flex items-center justify-center">
          <p>No role found. Please contact support.</p>
        </div>
      }
    } @else {
      <div class="text-center text-gray-600 flex-grow flex items-center justify-center">
        <p>You are not authenticated. Please log in.</p>
      </div>
    }

    <!-- Not Authenticated -->
  </div>
</div>
