<div class="dashboard-container">

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search students..." (keydown.enter)="onSearch()" />
    <button (click)="onSearch()">Search</button>
  </div>

  <!-- Section: Search Results -->
  <ng-container *ngIf="sectionStates['searchResults'].data.length > 0">
    <div class="questionnaire-section">
      <h3>Search Results</h3>
      <button class="collapse-button" (click)="toggleSection('searchResults')">
        {{ sectionStates['searchResults'].collapsed ? '+' : '-' }}
      </button>
      <div *ngIf="!sectionStates['searchResults'].collapsed">
        <ng-container *ngFor="let questionnaire of sectionStates['searchResults'].data;">
          <ul>
            <li>
              <p><strong>ID: </strong>{{ questionnaire.id }}</p>
              <p><strong>Student ID: </strong>{{ questionnaire.student.id }}</p>
              <p><strong>Student Name: </strong>{{ questionnaire.student.username }}</p>
              <div class="status-badge" [ngClass]="questionnaire.isStudentFinished ? 'badge-completed' : 'badge-pending'">
                {{ questionnaire.isStudentFinished ? 'Student Finished' : 'Student Pending' }}
              </div>
              <div class="status-badge" [ngClass]="questionnaire.isTeacherFinished ? 'badge-completed' : 'badge-pending'">
                {{ questionnaire.isTeacherFinished ? 'Teacher Finished' : 'Teacher Pending' }}
              </div>
              <div>
                <button *ngIf="!questionnaire.isTeacherFinished" (click)="toActiveQuestionnaire(questionnaire.id)" class="route-button">
                  Go to questionnaire
                </button>
              </div>
            </li>
          </ul>
          <hr class="hr-line">
        </ng-container>
        <button *ngIf="!sectionStates['searchResults'].noMoreData" (click)="loadMore('searchResults')">Load More</button>
      </div>
    </div>
  </ng-container>

  <!-- Section: General Results with Filter Selection -->
  <div class="questionnaire-section">
    <h3>Search with a filter</h3>
    <div class="filter-options">
      <select [(ngModel)]="selectedFilter" (change)="applyFilter()">
        <option *ngFor="let filter of filters" [value]="filter">{{ filter }}</option>
      </select>
    </div>
    <button class="collapse-button" (click)="toggleSection('generalResults')">
      {{ sectionStates['generalResults'].collapsed ? '+' : '-' }}
    </button>
    <div *ngIf="!sectionStates['generalResults'].collapsed">
      <ng-container *ngFor="let questionnaire of sectionStates['generalResults'].data;">
        <ul>
          <li>
            <p><strong>ID: </strong>{{ questionnaire.id }}</p>
            <p><strong>Student ID: </strong>{{ questionnaire.student.id }}</p>
            <p><strong>Student Name: </strong>{{ questionnaire.student.username }}</p>
            <div class="status-badge" [ngClass]="questionnaire.isStudentFinished ? 'badge-completed' : 'badge-pending'">
              {{ questionnaire.isStudentFinished ? 'Student Finished' : 'Student Pending' }}
            </div>
            <div class="status-badge" [ngClass]="questionnaire.isTeacherFinished ? 'badge-completed' : 'badge-pending'">
              {{ questionnaire.isTeacherFinished ? 'Teacher Finished' : 'Teacher Pending' }}
            </div>
            <div>
              <button *ngIf="!questionnaire.isTeacherFinished" (click)="toActiveQuestionnaire(questionnaire.id)" class="route-button">
                Go to questionnaire
              </button>
            </div>
          </li>
        </ul>
        <hr class="hr-line">
      </ng-container>
      <button *ngIf="!sectionStates['generalResults'].noMoreData" (click)="loadMore('generalResults')">Load More</button>
    </div>
  </div>
</div>
