.questionnaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.progress-container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}

h4 {
  margin-top: 0;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease;
}

.centered-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.option-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.option-item.selected {
  border-color: #4caf50;
  background-color: #e0ffe0;
  box-shadow: 0 0 10px #4caf50;
}

.option-item label {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

p {
  margin: 0;
  padding: 5px;
}

button {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.submit-button {
  background-color: #4caf50;
  border-color: #40a043;
  color: white;
}

.submit-button:hover:not(:disabled) {
  background-color: #388e3c;
  border-color: #317a39;
}

/* Styles for textarea */
textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
}
