<!-- settings-form.component.html -->
<div [formGroup]="group">
  <div *ngFor="let key of keys(group.controls)">
    <ng-container *ngIf="group.get(key) as control">
      <ng-container *ngIf="control">
        <!-- Now 'control' is not null -->
        <ng-container *ngIf="isFormGroup(control)">
          <h3>{{ key | titlecase }}</h3>
          <!-- Recursively render nested FormGroups -->
          <app-settings-form
            [group]="control"
            [settings]="settings[key]"
            [metadata]="metadataForKey(key)"
          ></app-settings-form>
        </ng-container>

        <div class="form-row" *ngIf="isFormControl(control)">
          <label [for]="key">
            {{ metadataForKey(key)?.description || (key | titlecase) }}
          </label>

          <ng-container [ngSwitch]="getInputType(key)">
            <!-- Select input for allowedValues -->
            <select
              *ngSwitchCase="'select'"
              [formControlName]="key"
              [id]="key"
            >
              <option
                *ngFor="let option of metadataForKey(key)?.allowedValues || []"
                [value]="option"
              >
                {{ option }}
              </option>
            </select>

            <!-- Checkbox for boolean -->
            <input
              *ngSwitchCase="'checkbox'"
              type="checkbox"
              [formControlName]="key"
              [id]="key"
            />

            <!-- Number input for numeric values -->
            <input
              *ngSwitchCase="'number'"
              type="number"
              [formControlName]="key"
              [id]="key"
              [attr.min]="metadataForKey(key)?.minValue"
              [attr.max]="metadataForKey(key)?.maxValue"
            />

            <!-- Text input for default case -->
            <input
              *ngSwitchDefault
              type="text"
              [formControlName]="key"
              [id]="key"
            />
          </ng-container>

          <!-- Display validation errors -->
          <div
            *ngIf="
              control.invalid &&
              (control.dirty || control.touched)
            "
            class="validation-error"
          >
          <span *ngIf="control.errors?.['required']">
            This field is required.
          </span>
          <span *ngIf="control.errors?.['min']">
            Minimum value is {{ metadataForKey(key)?.minValue }}.
          </span>
          <span *ngIf="control.errors?.['max']">
            Maximum value is {{ metadataForKey(key)?.maxValue }}.
          </span>
          <span *ngIf="control.errors?.['allowedValues']">
            Allowed values are:
            {{ (metadataForKey(key)?.allowedValues || []).join(', ') }}.
          </span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
