<div class="question-editor">
    <h3>Edit Question: {{ question.title }}</h3>
  
    <label>
      Title:
      <input [(ngModel)]="question.title" />
    </label>
  
    <h4>Options</h4>
    <ul>
      <li *ngFor="let option of question.options">
        <label>
          Label:
          <input [(ngModel)]="option.label" />
        </label>
        <label *ngIf="!option.isCustom">
          Value:
          <input type="number" [(ngModel)]="option.value" />
        </label>
        <label *ngIf="option.isCustom">
          Custom Answer Enabled
        </label>
        <div class="actions">
          <button (click)="deleteOption(option.id)">Delete Option</button>
        </div>
      </li>
    </ul>
  
    <div class="actions">
      <button (click)="addOption()">Add Normal Option</button>
      <button (click)="addOption(true)">Add Custom Answer Option</button>
      <button (click)="saveQuestion()">Save Question</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
  