<div class="bg-white shadow-md rounded-lg p-6 sm:p-8 max-w-3xl mx-auto max-h-full overflow-y-auto">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">aktive spørgeskemaer</h2>

  <!-- If there are active questionnaires, list them. Otherwise, show a message -->
  @if (activeQuestionnaires && activeQuestionnaires.length > 0) {
    <ul class="space-y-4">
      @for (questionnaire of activeQuestionnaires; track questionnaire) {
        <li
          class="p-4 bg-gray-50 rounded-lg shadow border border-gray-200 hover:bg-gray-100">
          <h3 class="text-xl font-semibold text-gray-800">{{ questionnaire.title }}</h3>
          <p class="text-gray-600 mt-1">{{ questionnaire.description }}</p>
          <p class="text-sm text-gray-500 mt-2">
            Setup at:
            <span class="font-medium text-gray-700">{{ questionnaire.activatedAt | date:'short' }}</span>
          </p>
          <!-- Student view -->
          @if (currentUserRole === Role.Student) {
            @if (!questionnaire.studentCompletedAt) {
              <div class="mt-4">
                <button
                  [routerLink]="['/answer', questionnaire.id]"
                  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                  >
                  Svar
                </button>
              </div>
            }
          }
          <!-- Teacher view -->
          @if (currentUserRole === Role.Teacher) {
            @if (!questionnaire.teacherCompletedAt) {
              <div class="mt-4">
                <button
                  [routerLink]="['/answer', questionnaire.id]"
                  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                  >
                  Svar
                </button>
              </div>
            }
          }
        </li>
      }
    </ul>
  } @else {
    <div class="p-4 text-center">
      <p class="text-gray-600">Der er ingen aktive spørgeskemaer tilgængelige lige nu.</p>
    </div>
  }

  <!-- Template to show when there is no active questionnaire data -->
</div>

