<div class="bg-white shadow-md rounded-lg p-6 sm:p-8 max-w-3xl mx-auto max-h-full overflow-y-auto">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Active Questionnaires</h2>
  <ul class="space-y-4">
    <li *ngFor="let questionnaire of activeQuestionnaires"
        class="p-4 bg-gray-50 rounded-lg shadow border border-gray-200 hover:bg-gray-100">
      <h3 class="text-xl font-semibold text-gray-800">{{ questionnaire.title }}</h3>
      <p class="text-gray-600 mt-1">{{ questionnaire.description }}</p>
      <p class="text-sm text-gray-500 mt-2">
        Setup at: 
        <span class="font-medium text-gray-700">{{ questionnaire.activatedAt | date:'short' }}</span>
      </p>
      <!-- For Student view -->
      <ng-container *ngIf="currentUserRole === Role.Student">
        <div class="mt-4" *ngIf="!questionnaire.studentCompletedAt">
          <button
            [routerLink]="['/answer', questionnaire.id]"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >
            Answer Questionnaire
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="currentUserRole === Role.Teacher">
        <div class="mt-4" *ngIf="!questionnaire.teacherCompletedAt">
          <button
            [routerLink]="['/answer', questionnaire.id]"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
          >
            Answer Questionnaire
          </button>
        </div>
      </ng-container>
      
    </li>
  </ul>
  <!-- Load more and Back buttons -->
  <div class="mt-4 flex justify-between">
    <button 
      *ngIf="previousCursors.length" 
      (click)="loadPrevious()"
      class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
      Back
    </button>
    <button 
      *ngIf="queryCursor" 
      (click)="loadMore()"
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
      Load More
    </button>
  </div>
</div>
