<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:7135/api/{R:1}" />
          <serverVariables>
            <set name="HTTP_ORIGIN" value="{HTTP_ORIGIN}" />
            <set name="HTTP_ACCESS_CONTROL_REQUEST_METHOD" value="{HTTP_ACCESS_CONTROL_REQUEST_METHOD}" />
          </serverVariables>
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <cors enabled="true">
      <add origin="http://localhost" allowCredentials="true" maxAge="600">
        <allowMethods>
          <add method="GET" />
          <add method="POST" />
          <add method="PUT" />
          <add method="PATCH" />
        </allowMethods>
        <allowHeaders>
          <add header="Content-Type" />
          <add header="Authorization" />
        </allowHeaders>
      </add>
    </cors>
  </system.webServer>
</configuration>