[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
slowapi = "*"
uvicorn = "*"
ldap3 = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.12"
