<!-- Template List Section -->
<div class="flex flex-col items-center w-full min-h-full bg-gray-100 p-4 sm:p-8">
  <div class="flex flex-col max-w-4xl w-full bg-white shadow-md rounded-lg p-4 sm:p-8">
    <ng-container *ngIf="!selectedTemplate; else editor">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center sm:text-left">Administrer Skabeloner</h2>

      <!-- Search & Actions -->
      <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr_auto] gap-4 items-center w-full">
        <button 
          (click)="addTemplate()" 
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto">
          Opret Ny Skabelon
        </button>

        <div class="flex w-full items-center gap-2">
          <select
            #searchType
            (change)="onSearchTypeChange(searchType.value)"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm min-w-[150px]"
          >
            <option value="name" selected>Søg efter Navn</option>
            <option value="id">Søg efter ID</option>
          </select>

          <input
            #search
            type="text"
            (input)="onSearchChange(search.value)"
            placeholder="Søg i skabeloner..."
            class="px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-blue-500 focus:border-blue-500 text-sm flex-grow min-w-[200px]"
          />
        </div>

        <div class="flex w-full sm:w-auto flex-col sm:flex-row gap-2">
          <label for="pageSize" class="text-gray-700 font-medium">Elementer pr. side:</label>
          <select
            #pageSize
            id="pageSize"
            (change)="onPageSizeChange(pageSize.value)"
            class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm w-full sm:w-auto"
          >
            <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="isSelectedPageSize(size)">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <!-- Loading Indicator Inside Content -->
      <div class="flex justify-center items-center min-h-[150px]" *ngIf="isLoading">
        <app-loading></app-loading>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-center p-4">
        <p class="text-red-500 font-semibold text-lg">{{ errorMessage }}</p>
      </div>

      <!-- Template List -->
      <ul class="space-y-4 mt-4" *ngIf="!isLoading && !errorMessage">
        <li
          *ngFor="let template of templateBases"
          class="flex flex-col sm:flex-row justify-between items-center p-4 bg-gray-50 rounded-lg shadow-sm hover:bg-gray-100"
        >
          <span class="text-gray-800 font-medium text-center sm:text-left">{{ template.title }}</span>
          <div class="flex space-x-2 mt-2 sm:mt-0">
            <button
              class="px-3 py-1 text-sm bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
              (click)="selectTemplate(template.id)"
            >
              Rediger
            </button>
            <button
              (click)="openDeleteModal(template.id)"
              class="px-3 py-1 text-sm bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
            >
              Slet
            </button>
          </div>
        </li>
      </ul>

      <!-- Pagination Component -->
      <app-pagination 
        *ngIf="!isLoading && !errorMessage"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="handlePageChange($event)"
        [showPageNumbers]="false">
      </app-pagination>
    </ng-container>

    <!-- Template Editor -->
    <ng-template #editor>
      <app-template-editor
        [template]="selectedTemplate!"
        (saveTemplate)="onSaveTemplate($event)"
        (cancelEdit)="onCancelEdit()"
      ></app-template-editor>
    </ng-template>

    <div *ngIf="showLockedModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
        <h3 class="text-lg font-semibold mb-4">Skabelonen er er i brug</h3>
        <p class="mb-6">Denne skabelon kan ikke redigeres, da den har været brugt.</p>
        <div class="flex justify-end">
          <button (click)="closeLockedModal()" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none">
            Luk
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="templateToDelete" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
        <h3 class="text-lg font-semibold mb-4">
          {{ deleteConfirmationStep === 0 ? 'Bekræft Sletning' : 'Sidste Advarsel' }}
        </h3>
        <p class="mb-6">
          {{ deleteConfirmationStep === 0 
             ? 'Er du sikker på, at du vil slette denne skabelon? Denne handling vil slette relaterede data.'
             : 'Advarsel: Denne handling kan ikke fortrydes. Sletning af denne skabelon vil permanent fjerne alle relaterede data. Er du helt sikker på, at du vil fortsætte?'
          }}
        </p>
        <div class="flex justify-end space-x-3">
          <button (click)="cancelDelete()"
            class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 focus:outline-none">
            Annuller
          </button>
          <button (click)="confirmDelete()"
            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none">
            {{ deleteConfirmationStep === 0 ? 'Slet' : 'Slet Permanent' }}
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
