<!-- Template List Section -->
<div class="flex flex-col items-center w-full min-h-full  p-4 sm:p-8">
  <div class="flex flex-col max-w-5xl w-full bg-white shadow-lg rounded-xl border-2 border-primary_orange_1 p-4 sm:p-10">
    <ng-container *ngIf="!selectedTemplate; else editor">
      <h2 class="text-2xl font-bold text-primary_dark_blue mb-6 text-center sm:text-left tracking-tight">{{'TMP_TITLE_ADMINISTER_TEMPLATES'| translate}}</h2>

      <!-- Search & Actions -->
      <div class="grid grid-cols-1 sm:grid-cols-[auto_1fr_auto] gap-6 items-center w-full">
        <button 
          (click)="addTemplate()" 
          class="bg-primary_orange_1 hover:bg-primary_orange_light text-white font-bold py-2 px-6 rounded-xl shadow transition-colors w-full sm:w-auto border-2 border-primary_orange_1 hover:border-primary_dark_blue">
          <!-- {{'TMP_ADD_TEMPLATE' | translate}} TMP_BUTTON_CREATE_NEW -->
              {{'TMP_BUTTON_CREATE_NEW' | translate}}
        </button>

        <div class="flex w-full items-center gap-4">
          <select
            #searchType
            (change)="onSearchTypeChange(searchType.value)"
            class="border-2 border-primary_orange_1 rounded-xl px-3 py-2 focus:ring-primary_orange_1 focus:border-primary_orange_1 text-sm min-w-[150px] bg-gray-50"
          >
            <option value="name" selected>{{'TMP_SEARCH_BY_NAME' | translate}}</option>
            <option value="id">{{'TMP_SEARCH_BY_ID' | translate}}</option>
          </select>

          <input
            #search
            type="text"
            (input)="onSearchChange(search.value)"
            placeholder="{{'TMP_SEARCH_PLACEHOLDER' | translate}}"
            class="px-4 py-2 border-2 border-primary_orange_1 rounded-xl shadow-sm focus:ring-primary_orange_1 focus:border-primary_orange_1 text-sm flex-grow min-w-[200px] bg-gray-50"
          />
        </div>

        <div class="flex w-full sm:w-auto flex-col sm:flex-row gap-2">
          <label for="pageSize" class="text-primary_dark_blue font-medium">{{'TMP_ITEMS_PER_PAGE'| translate}}</label>
          <select
            #pageSize
            id="pageSize"
            (change)="onPageSizeChange(pageSize.value)"
            class="border-2 border-primary_orange_1 rounded-xl px-3 py-2 focus:ring-primary_orange_1 focus:border-primary_orange_1 text-sm w-full sm:w-auto bg-gray-50"
          >
            <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="isSelectedPageSize(size)">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <!-- Loading Indicator Inside Content -->
      <div class="flex justify-center items-center min-h-[150px]" *ngIf="isLoading">
        <!--  -->
        <app-loading></app-loading>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-center p-4">
        <p class="text-red-500 font-semibold text-lg">{{ errorMessage | translate}}</p>
      </div>

      <!-- Template List -->
      <ul class="space-y-4 mt-4" *ngIf="!isLoading && !errorMessage">
        <li
          *ngFor="let template of templateBases"
          class="flex flex-col sm:flex-row justify-between items-center p-4 bg-gray-50 rounded-xl border border-primary_orange_1 shadow-sm hover:bg-primary_orange_light/10 transition-colors"
        >
          <!-- title + status badge -->
          <span class="flex items-center gap-2 text-gray-800 font-medium">
            {{ template.title }}
            <span
              class="px-2 py-0.5 rounded text-xs font-semibold"
              [ngClass]="{
                'bg-yellow-100 text-yellow-800': template.templateStatus === templateStatus.Draft,
                'bg-green-100 text-green-800':  template.templateStatus === templateStatus.Finalized
              }"
            >
              {{ template.templateStatus | titlecase }}
            </span>
          </span>

          <!-- action buttons -->
          <div class="flex space-x-2 mt-2 sm:mt-0">
            <button
              class="px-4 py-1 text-sm bg-yellow-500 text-black rounded-xl border-2 border-yellow-500 hover:bg-yellow-400 hover:border-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 transition-colors"
              (click)="selectTemplate(template.id)"
            >
              {{ template.templateStatus == templateStatus.Draft ? 'Rediger' : 'Vis' }}
            </button>

            <button
                (click)="showModal(TemplateModalType.Delete, template.id)"
              class="px-4 py-1 text-sm bg-red-500 text-white rounded-xl border-2 border-red-500 hover:bg-red-600 hover:border-primary_dark_blue focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-colors"
            >
              {{ 'TMP_BUTTON_DELETE' | translate }}
            </button>

            <button
               (click)="showModal(TemplateModalType.Copy, template.id)"
              class="px-3 py-1 text-sm bg-indigo-500 text-white rounded-md hover:bg-indigo-600"
            >
              Kopiér
            </button>
          </div>
        </li>
      </ul>

      <!-- Pagination Component -->
      <app-pagination 
        *ngIf="!isLoading && !errorMessage"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="handlePageChange($event)"
        [showPageNumbers]="false">
      </app-pagination>
    </ng-container>

    <!-- Template Editor -->
    <ng-template #editor>
      <app-template-editor
        [template]="selectedTemplate!"
        (saveTemplate)="onSaveTemplate($event)"
        (finalizeDraft)="onFinalizeTemplate($event)"
        (cancelEdit)="onCancelEdit()">
      </app-template-editor>
    </ng-template>

<app-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [text]="modalText"
  [confirmText]="confirmText"
  [cancelText]="cancelText"
  (confirm)="onModalConfirm()"
  (cancel)="onModalCancel()">
</app-modal>
</div>
