@if (totalPages > 1) {
  <div class="flex flex-col items-center">
    <div class="flex justify-center items-center mt-4 overflow-x-auto px-2 space-x-1 flex-wrap">
      <!-- Previous Button -->
      <button
        (click)="previousPage()"
        [disabled]="currentPage === 1"
        class="px-3 py-2 bg-gray-500 text-gray-200 rounded-md hover:bg-gray-600 disabled:opacity-50 min-w-[40px] text-sm">
        <!-- Previous -->
        {{ 'TMP_PREVIOUS' | translate }}
      </button>
      <!-- Conditionally show page numbers if enabled -->
      @if (showPageNumbers) {
        <div class="flex space-x-1">
          @for (page of pages; track page) {
            @if (page !== -1) {
              <button
                (click)="jumpToPage(page)"
                [class.bg-primary_orange_1]="page === currentPage"
                [class.text-white]="page === currentPage"
                class="px-2 py-1 rounded-md hover:bg-primary_orange_light hover:text-white min-w-[30px] text-sm">
                {{ page }}
              </button>
            }
            @if (page === -1) {
              <span class="px-2 text-gray-500">...</span>
            }
          }
        </div>
      }
      <!-- Next Button -->
      <button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        class="px-3 py-2 bg-gray-500 text-gray-200 rounded-md hover:bg-gray-600 disabled:opacity-50 min-w-[40px] text-sm">
        <!-- Next -->
        {{ 'TMP_NEXT' | translate }}
      </button>
    </div>
    <!-- Total pages info -->
    <div class="mt-2 text-sm text-gray-600">
      Page {{ currentPage }} of {{ totalPages }}
    </div>
  </div>
}
