@if (loggedInAlready) {
    <div class="logged-in-container">
        @if(goToActiveQuestionnaire){
            <p>To Questionnaire?</p>
            <button class="dashboard-button" (click)="toActiveQuestionnaire(this.activeQuestionnaireString)">Go to Questionnaire</button>
        }
        @if(goToDashboard){
            <p>Go to your dashboard?</p>
            <button class="dashboard-button" (click)="toDashboard()">Go to Admin Dashboard</button>
        }
        <p>You are already logged in. Log out?</p>
        <button class="logout-button" (click)="logout()">Logout</button>
    </div>
}
@else {
    <div class="container">
        <!-- A card div that contains the login form -->
        <div class="card">
            <!-- The header of the card, which shows "login" -->
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <!-- The body of the card -->
            <div class="card-body">
                <!-- The login form. When the form is submitted, the onSubmit method is called with the loginForm as an argument -->
                <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                    <label for="username">Username:</label>
                    <!--passwordInput.focus() makes it go over to #passwordInput below-->
                    <input type="text" id="username" [(ngModel)]="userName" name="username" required (keyup.enter)="passwordInput.focus()">
    
                    <label for="password">Password:</label>
                    <input type="password" id="password" #passwordInput [(ngModel)]="password" name="password" required>
                    <div>
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
        @if(errorHasHapped){
            <div class="error-box">
                Login failed, check your username and password
            </div>
        }
      </div>
}