/* General Container */
.container, .logged-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 20px;
}

/* Card Styles */
.card {
  width: 400px;
  margin-top: 20px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-header {
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 15px;
}

.card-body label {
  display: block;
  margin-top: 12px;
}

.card-body input {
  width: calc(100% - 25px);
  padding: 8px;
  margin: 4px 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-body button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-body button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Error Box */
.error-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ff0000;
  background-color: #ffe6e6;
  color: #ff0000;
  border-radius: 4px;
  text-align: center;
}

/* Logged-in Container */
.logged-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Center content within the viewport */
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center; /* Ensures the text is centered */
}

.logged-in-container p {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.logged-in-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dashboard-button {
  background-color: #32B15B;
  color: #fff;
  font-weight: bold;
}

.dashboard-button:hover {
  background-color: #2A9D4E;
  transform: scale(1.05);
  background-color: darken(#32B15B, 10%);
}

.logout-button {
  background-color: #ff6b6b;
  color: #fff;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #ff4b4b;
  transform: scale(1.05);
}
