name: Angular Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Angular-src/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Angular-src/**'
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm test -- --watch=false --browsers=ChromeHeadless
