<!-- In teacher-dashboard.component.html -->
<div class="top-container">
    <div class="search-and-apply">
      <div class="search-bar">
        <input type="text" [(ngModel)]="filters.searchStudent" (ngModelChange)="applyFilters()" placeholder="Search by student name...">
      </div>
      <button class="apply-button" (click)="applyFilters()">Apply Filters</button>
    </div>
  
    <div class="completion-filters">
      <div class="filter-options">
        <label>Student Completion:</label>
        <select [(ngModel)]="filters.studentIsFinished" (ngModelChange)="onStudentFinishedChange($event)">
          <option [ngValue]="undefined">All</option>
          <option [ngValue]="true">Finished</option>
          <option [ngValue]="false">Not Finished</option>
        </select>
      </div>
      <div class="filter-options">
        <label>Teacher Completion:</label>
        <select [(ngModel)]="filters.teacherIsFinished" (ngModelChange)="onTeacherFinishedChange($event)">
          <option [ngValue]="undefined">All</option>
          <option [ngValue]="true">Finished</option>
          <option [ngValue]="false">Not Finished</option>
        </select>
      </div>
    </div>
    <button class="collapse-button" (click)="toggleCollapse()">{{ isCollapsed ? 'Show' : 'Hide' }} Questionnaires</button>
  </div>
  
  <div class="questionnaire-section" *ngIf="!isCollapsed">
    <ng-container *ngFor="let questionnaire of activeQuestionnaires; let i = index">
      <div class="questionnaire-list">
        <p><strong>ID:</strong> {{ questionnaire.id }}</p>
        <p><strong>Student Name:</strong> {{ questionnaire.student.fullName }}</p>
        <div>
          <span class="status-badge" [ngClass]="questionnaire.studentFinishedAt ? 'badge-completed' : 'badge-pending'">
            Student: {{ questionnaire.studentFinishedAt ? 'Completed' : 'Pending' }}
          </span>
          <span class="status-badge" [ngClass]="questionnaire.teacherFinishedAt ? 'badge-completed' : 'badge-pending'">
            Teacher: {{ questionnaire.teacherFinishedAt ? 'Reviewed' : 'Pending' }}
          </span>
        </div>
        <button *ngIf="!questionnaire.teacherFinishedAt" class="route-button"  (click)="navigateTo(questionnaire.id, 'answer')">Go to Questionnaire</button>
        <button *ngIf="questionnaire.teacherFinishedAt && questionnaire.studentFinishedAt" class="route-button" (click)="navigateTo(questionnaire.id, 'results')">Go to results</button>
        <hr class="hr-line" *ngIf="i < activeQuestionnaires.length - 1">
      </div>
    </ng-container>
    <button *ngIf="!noMoreData" class="load-more-button" (click)="loadMoreQuestionnaires()">Load More</button>
  </div>
  